/CMakeFiles/*
/CMakeCache.txt
/nbproject/*
/Makefile
/cmake_install.cmake
/src/CMakeFiles/
/src/Makefile
/src/cmake_install.cmake
/src/qm2.exe
/src/book.bin
/src/*.exe.stackdump
/src/CMakeCache.txt
/*.exe.stackdump
/tests/Makefile
/tests/cmake_install.cmake
/tests/testDepth.exe
/tests/testWAC.exe
/tests/CMakeFiles/
/tests/testPrintSearch.exe
/tests/testGenmoves.exe
/tests/testBK.exe
/tests/testEvaluation.exe
/tests/testSearch.exe
/tests/testPolyglot.exe
/tests/testTT.exe
/tests/testBits.exe
/tests/*.exe.stackdump
/mdebug.bat
/mrelease.bat
/build/
/tests/genPct.exe
/sublime-project
